<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.zicure.payment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_mof"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //Check version for google play service
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />
        //put api key for google map
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDiCs8P6sY_o4znFETccP1hJkHPjYQB204" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.company.zicure.survey.activity.SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="profilemof.zicure.company.com.profilemof.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name="gallery.zicure.company.com.gallery.activity.GalleryActivity" />
        <activity android:name="gallery.zicure.company.com.gallery.activity.ShareImageActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>